.tab_cont {
    height: 30px;
    width: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tab_circle {
    height: 25px;
    width: 25px;
    border: 1px solid rgb(black, black, black, .75);

    border-radius: 50%;
}